@import "settings";
@import "foundation";

$footer-height: 3rem ;
$layout-spacing: 1rem ;

@font-face {
	font-family: 'Varela Round' ;
	src:	url('../fonts/VarelaRound-Regular.woff2') format('woff2'),
			url('../fonts/VarelaRound-Regular.woff') format('woff'),
			url('../fonts/VarelaRound-Regular.ttf') format('truetype') ;
}

body
{
	min-height: 100% ;
	height: auto ;
	margin: 0 ;
	padding: 0 ;
	background-color: $secondary-color ;
}

#wrapper
{
	margin: 0 ;
	padding: 0 ;
}

#header
{
	.top-bar .title-area .name
	{
		padding: 0 0.4rem 0 0.4rem ;
		display: table-cell ;
		vertical-align: middle ;
	}
}

#logo
{
	max-height: 2em;
}

#main
{	
	width: 100% ;
	margin: auto ;
	margin-bottom: $footer-height ;
	display: table ;
	table-layout: fixed ;
	
	@media #{$medium-only} {max-width: 56em;}
	@media #{$large-only} {max-width: 76em;}
	@media #{$xlarge-up} {max-width: 104em;}
}

#content
{
	display: table-cell ;
	
	h1, .orbit-wrapper
	{
		margin: $layout-spacing ;
		@media #{$xsmall-only} {margin: 0.5rem;}
	}
	
	h2
	{
		margin-top: 2rem ;
	}
}

#footer
{
	position: absolute ;
	left: 0 ;
	right:0 ;
	bottom: 0 ;
	height: $footer-height ;
	line-height: $footer-height ;
	display: table-cell ;
	vertical-align: center ;
	color: #626262 ;
	background-color: #d0d0d0 ;
	text-align: right ;
	box-shadow: inset 0 8px 8px -8px #888888 ;
	padding: 0 1rem ;
}


#sidebar
{
	padding: $layout-spacing ;
	width: 22rem ;
	display: none ;
	
	@media #{$large-up}
	{
		display: table-cell ;
		vertical-align: top ;
	}
	
	.titled-panel
	{
		position: fixed ;
		width: 20rem ;
	}
	
	.side-nav li
	{
		border-bottom: #d8d8d8 1px solid ;
	}
	
}

#sidebar .searchform
{
	margin: 1em ;
	
	#s
	{
		padding-left: 2rem ;
		background: url("../img/search.png") ;
		background-size: 1rem 1rem ;
		background-position: 0.5em center ;
		background-repeat: no-repeat ;
	}
}

.top-bar-section #s
{
	padding-left: 2rem ;
	color: white ;
	background: url("../img/search-light.png") ;
	background-size: 1rem 1rem ;
	background-position: 0.5em center ;
	background-repeat: no-repeat ;
}

.titled-panel
{
	@extend .panel ;
	padding: 0 ;
	
	h2.title
	{
		font-size: 1.6rem ;
		background-color: $primary-color ;
		margin: 0 ;
		padding: 1rem 1.6rem ;
		color: $panel-bg ;
	}
	
	.panel-content
	{
		margin: 2rem ;
	}
}

input.submit, input.button-primary
{
	@extend .button ;
	@extend .small ;
	margin-bottom: 0 ;
}

.post-list
{
	width: 100% ;
	@media #{$medium-up}
	{
		display: table ;
		table-layout: fixed ;
		border-collapse: separate ;
		border-spacing: $layout-spacing ;
	}
}

.post-row
{
	width: 100% ;
	@media #{$medium-up}
	{
		display: table-row ;
	}
}

.post-preview
{
	margin: $layout-spacing ;
	@media #{$xsmall-only} {margin: 0.5rem;}
	
	@media #{$medium-up}
	{
		display: table-cell ;
	}
	
	.wrapper
	{
		@media #{$xlarge-up}, #{$small-only}
		{
			display: inline-block ;
			width: 50% ;
			vertical-align: top ;
		}
		text-align: center ;
		padding: 0.5em ;
	}
	
	.post-image
	{
		max-height: 10rem ;
	}
	
	dl
	{
		display: inline-block ;
		text-align: left ;
	}
	
	dd:after
	{
		content: '' ;
		display: block ;
	}
}

.post-featured
{
	padding: 2rem ;
	margin: 0 ;
	
	.wp-post-image
	{
		float: left ;
		padding: 0 2rem 1rem 0 ;
		max-height: 10rem ;
		background-color: $panel-bg ;
		
		@media #{$xsmall-only}
		{
			float: none ;
			display: block ;
			margin: 1em auto ;
		}
	}
	
	h1
	{
		padding: 1rem ;
		border-bottom: 1px solid #dddddd ;
		margin-bottom: 1rem !important ;
	}
	
	dd
	{
		margin-right: 2em ;
	}
}

.post-preview dd, .post-featured dd
{
	display: inline  ;
	white-space: nowrap ;
}

.post-preview dt, .post-featured dt
{
	background-size: 1rem 1rem ;
	background-position: left center ;
	background-repeat: no-repeat ;
	padding-left: 1.5rem ;
	padding-right: 0.5rem ;
	display: inline ;
}

.post-preview dt.calendar, .post-featured dt.calendar
{
	background-image: url("../img/calendar.png") ;
}

.post-preview dt.category, .post-featured dt.category
{
	background-image: url("../img/category.png") ;
}

.post-preview dt.author, .post-featured dt.author
{
	background-image: url("../img/author.png") ;
}

.post-preview dt.rating, .post-featured dt.rating
{
	background-image: url("../img/rating.png") ;
}

.post-preview dt.comment, .post-featured dt.comment
{
	background-image: url("../img/comment.png") ;
}

pre
{
	background-color: rgba(0,0,0,0.01) ;
	border: $panel-border-size solid $panel-border-color ;
	margin-bottom: 1.25rem ;
	padding: 0.8em ;
	overflow: auto ;
	white-space: pre-wrap ;
	word-wrap: break-word ;
}

code
{
	background-color: transparent ;
	border: none ;
	font-family: Monaco, Consolas, Menlo, Inconsolata, monospace ;
}

#pagination
{
	text-align: center ;
	
	.button
	{
		margin: 2rem ;
	}
}

#post-navigation a
{
	display: inline-block ;
	margin-right: 2rem ;
}

@media #{$xsmall-only}, #{$small-only}
{
	.orbit-bullets
	{
		display: none ;
	}
	
	table.form-table th, table.form-table td
	{
		display: block ;
	}
}

img
{
	max-width: 100% ;
}

.wp-caption.alignnone
{
	display: inline-block ;
	text-align: center ;
	margin-right: 2rem ;
	
	.wp-caption-text
	{
		color: grey ;
		font-style: italic ;
		margin-top: 0.5rem ;
	}
}

.wp-caption.aligncenter
{
	margin-bottom: $paragraph-margin-bottom ;
	width: 100% !important ;
	display: table ;
	table-layout: fixed ;
	
	@media #{$medium-up}
	{
		background-color: $secondary-color ;
		box-shadow: inset 0 0 8px #888888 ;
	}
	
	img
	{
		@media #{$medium-up} { display: table-cell; }
		padding: 0.8rem ;
	}
	
	.wp-caption-text
	{
		@media #{$medium-up} { display: table-cell; }
		padding: 0.8rem ;
		color: grey ;
		font-style: italic ;
		font-size: 1.2rem ;
		vertical-align: middle ;
		text-align: center ;
	}
}

.gallery img
{
	border: none !important ;
}

.login-modal
{
	max-width: 400px ;
	
	.close-reveal-modal
	{
		color: $panel-bg ;
	}
}

.post-comments
{
	margin-top: $layout-spacing ;

	ol.comment-list
	{
		margin-bottom: 0 ;
	}

	.comment-body
	{
		margin-bottom: 2rem ;
		padding-bottom: 2rem ;
		border-bottom: 1px solid $panel-border-color ;
	}

	li.comment
	{
		list-style: none ;
		
		.avatar
		{
			float: left ;
			margin-right: 1rem ;
			border-radius: 50% ;
		}
		
		.vcard
		{
			display: block ;
			border: none ;
			margin: 0 ;
			padding: 0 ;
		}
		
		.says
		{
			display: none ;
		}
		
		.comment-meta
		{
			margin-bottom: 2rem ;
		}
	}

	.comment-navigation
	{
		margin-bottom: 2rem ;
	}
	
	.comment-reply-title
	{
		margin-bottom: 1rem ;
	}
	
	.comment-reply-link::before
	{
		content: "\21b3" ;
		margin-right: 0.2em ;
	}
}

#cancel-comment-reply-link
{
	font-style: italic ;
	&:before
	{
		content: " - " ;
	}
}
